<div class="wrapper">

    <!-- Main Header -->
    <admin-header></admin-header>
  
    <!-- Left side column. contains the logo and sidebar -->
    <admin-aside></admin-aside>

    <!-- Content Wrapper. Contains page content -->
    <admin-content></admin-content>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <admin-footer></admin-footer>

    <!-- Control Sidebar -->
    <admin-side-info></admin-side-info>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  
</div>