<div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">股票信息管理</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form [formGroup]="form" class="form-horizontal">
        <div class="box-body">
        <div class="form-group" [ngClass]="{'has-error': formErrorsList.code }">
            <label for="code" class="col-sm-2 control-label">股票代码</label>

            <div class="col-sm-6">
                <input formControlName="code" type="number" class="form-control" id="code" placeholder="股票代码" [value]="stock.id">
                <div *ngIf="formErrorsList.code" class="text-danger">
                    {{ formErrorsList.code }}
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrorsList.name }">
            <label for="name" class="col-sm-2 control-label">股票名称</label>

            <div class="col-sm-8">
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="股票名称" [value]="stock.name">
                <div *ngIf="formErrorsList.name" class="text-danger">
                    {{ formErrorsList.name }}
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrorsList.price }">
            <label for="price" class="col-sm-2 control-label">股票价格</label>

            <div class="col-sm-4">
                <input formControlName="price" type="number" class="form-control" id="price" placeholder="单位：人民币" [value]="stock.price">
                <div *ngIf="formErrorsList.price" class="text-danger">
                    {{ formErrorsList.price }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rating" class="col-sm-2 control-label">股票评级</label>

            <div class="col-sm-10">
                <i style="display:block;height:7px;"></i>
                <admin-stars [(rating)]="stock.rating" [readOnly]="false"></admin-stars>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrorsList.categories }">
            <label class="col-sm-2 control-label">股票类别</label>
            <div class="col-sm-10">
                <div class="checkbox" formArrayName="categories" checkboxValidator>
                    <label *ngFor="let categorie of categories; let i=index " class="col-sm-2">
                        <input [formControlName]="i" type="checkbox"> {{categorie}}
                    </label>
                </div>
                <div *ngIf="formErrorsList.categories" class="text-danger">
                    {{ formErrorsList.categories }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">股票描述</label>

            <div class="col-sm-10">
                <i style="display:block;height:10px;"></i>
                <textarea formControlName="desc" class="form-control" rows="8">{{stock.desc}}</textarea>
            </div>
        </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button (click)="cancel()" class="btn btn-default">取消</button>
        <button [disabled]="form.invalid" (click)="save()" class="btn btn-info pull-right">保存</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>